<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:p="http://primefaces.org/ui"
  xmlns:rc="http://java.sun.com/jsf/composite/comps"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="menuform">

    <p:growl id="messages" showDetail="true" sticky="false" life="5000" />

    <p:menubar id="mainMenu"
      style="padding-left: 8px; padding-right: 8px">
      <p:menuitem value="Cables" icon="ui-icon-home" url="cables.xhtml"
        styleClass="#{request.requestURI.contains('cables.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Cable Types" icon="ui-icon-folder-open"
        url="cable-types.xhtml"
        styleClass="#{request.requestURI.contains('cable-types.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Routings" icon="ui-icon-folder-open"
        url="routings.xhtml"
        styleClass="#{request.requestURI.contains('routings.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Connectors" icon="ui-icon-folder-open"
        url="connectors.xhtml"
        styleClass="#{request.requestURI.contains('connectors.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Manufacturers" icon="ui-icon-folder-open"
        url="manufacturers.xhtml"
        styleClass="#{request.requestURI.contains('manufacturers.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Log" icon="ui-icon-folder-open" url="log.xhtml"
        styleClass="#{request.requestURI.contains('log.xhtml') ? 'menu-selected' : ''}" />
      <p:submenu label="Templates" icon="ui-icon-calculator">
        <p:menuitem value="Cables" title="Download cables template"
          url="/resources/templates/cdb_cables.xlsx" />
        <p:menuitem value="Cable Types"
          title="Download cable types template"
          url="/resources/templates/cdb_cable_types.xlsx" />
        <p:menuitem value="Routings" title="Download routings template"
          url="/resources/templates/cdb_routings.xlsx" />
      </p:submenu>
      <p:submenu label="Help" icon="ui-icon-help">
        <p:menuitem value="User Manual" title="Download user manual"
          url="/resources/help/cable_database_user_manual.pdf"
          target="_blank" />
        <p:menuitem value="Cable Numbering"
          rendered="#{userManager.loggedIn}"
          url="#{cableRequestManager.cableNumberingSheetURL}"
          target="_blank" />
      </p:submenu>

      <f:facet name="options">
        <p:outputPanel id="refreshValidityPanel" layout="inline"
          style="font-size: smaller; font-style: italic;">
          <p:commandButton title="Refresh cable validity."
            icon="ui-icon-refresh" onstart="start();"
            oncomplete="stop(); location.reload();"
            actionListener="#{cableRequestManager.validateCables()}" />
        </p:outputPanel>
        <rc:logincomp ajax="false" />
      </f:facet>

    </p:menubar>
  </h:form>

</ui:composition>
