<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
  <f:facet name="first">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  </f:facet>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="resources/css/webfontkit/stylesheet.css" rel="stylesheet"
    type="text/css" />
  <link href="resources/css/default.css" rel="stylesheet"
    type="text/css" />
  <link href="resources/css/cssLayout.css" rel="stylesheet"
    type="text/css" />
  <title>#{msgs.title}</title>
  <h:outputScript library="js" name="cabledb-common.js" />
  <ui:insert name="head_content" />
</h:head>

<h:body>

  <p:dialog modal="true" widgetVar="statusDialog" showHeader="false"
    draggable="false" closable="false" resizable="false">
    <p:graphicImage value="/resources/images/ajax-loader.gif" />
  </p:dialog>

  <p:outputPanel id="full" layout="block">
    <div id="menu" style="padding: 10px 15px 0px 15px">
      <ui:include src="/WEB-INF/includes/menubar.xhtml" />
    </div>

    <div style="padding: 15px 15px 0px 15px">
      <p:growl id="cableDBGrowl" showDetail="true" />
      <ui:insert name="content">Content</ui:insert>
    </div>

    <div class="footer-message">
      <h:outputText value="#{msgs.title} v#{msgs.titleVersion} - " />
      <a style="color: #A8A8A8;"
        href="mailto:#{msgs.supportEmail}?subject=#{msgs.supportEmailSubject}">Contact
        us</a>
    </div>
  </p:outputPanel>

  <h:form id="loginForm">
    <p:dialog id="loginDialog" widgetVar="loginDialog" modal="true"
      visible="#{loginController.loginRequested}" closable="false">

      <f:facet name="header">
        <h:outputText value="Sign In" />
      </f:facet>
      <p:panelGrid id="grid" columns="2" styleClass="borderless">
        <h:outputLabel for="username" value="Username" />
        <h:panelGroup>
          <p:inputText id="username"
            value="#{loginController.inputUsername}" label="Username" />
          <p:watermark for="username" value="Enter username" />
          <p:message for="username" />
        </h:panelGroup>
        <h:outputLabel for="passwd" value="Password" />
        <h:panelGroup>
          <p:password id="passwd"
            value="#{loginController.inputPassword}" label="Password" />
          <p:watermark for="passwd" value="Enter password" />
          <p:message for="passwd" />
        </h:panelGroup>
      </p:panelGrid>
      <p:separator />

      <p:commandButton value="Sign In" update=":full :loginForm"
        action="#{loginController.login()}" style="float: left"
        onstart="start()" oncomplete="stop(); remoteCommandLoad();"
        rendered="#{loginController.cablesPage}" />

      <p:commandButton value="Sign In" update=":full :loginForm"
        action="#{loginController.login()}" style="float: left"
        onstart="start()" oncomplete="stop()"
        rendered="#{!loginController.cablesPage}" />

    </p:dialog>
  </h:form>

  <p:dialog modal="true" id="popupDialog" header="Warning"
    widgetVar="popupDialog"
    visible="#{applicationStateManager.namesServiceWarning}"
    closable="true">
    <div>The connection to the Naming Service could not be
      established.</div>
    <p:spacer width="32" />
    <p:commandButton value="Close" title="Close dialog."
      style="float:right" onclick="PF('popupDialog').hide();"
      icon="ui-icon-close" />
  </p:dialog>

  <script type="text/javascript">
            jQuery(window).resize(function() {
                adjustFooterPosition();
            });

            jQuery(document).ready(function() {
                adjustFooterPosition();
            });
        </script>

  <ui:include src="/resources/dialogs/error.xhtml" />
</h:body>

</html>
