<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <div style="width: calc(100% - 1em)">
    <p:dataTable id="historyTable" var="history"
      value="#{controller.lazyModel}" rowKey="#{history.id}"
      widgetVar="historyTable" class="dialogListTable"
      emptyMessage="No records found." scrollable="true"
      liveScroll="true" scrollWidth="100%" scrollHeight="#{tableHeight}"
      scrollRows="150" rows = "150" lazy="true">

      <p:ajax event="filter" update="#{updateOnFilter}" />

      <p:column id="timestampColumn" sortBy="#{history.timestamp}"
        style="width:15%; min-width:100px"
        filterStyle="width:15%; min-width:100px"
        filterBy="#{history.timestamp}" filterMatchMode="contains">
        <f:facet name="header">
          <h:outputText value="Timestamp"
            title="History entry timestamp." />
        </f:facet>
        <h:outputText value="#{history.timestamp}" />
      </p:column>

      <p:column id="userColumn" sortBy="#{history.userId}"
        style="width:10%; min-width:100px"
        filterStyle="width:10%; min-width:100px"
        filterBy="#{history.userId}" filterMatchMode="contains">
        <f:facet name="header">
          <h:outputText value="User" title="User." />
        </f:facet>
        <h:outputText value="#{history.user}" />
      </p:column>

      <p:column id="entityType" sortBy="#{history.entityType}"
        style="width:10%; min-width:60px"
        filterStyle="width:10%; min-width:60px"
        filterBy="#{history.entityType}" filterMatchMode="exact"
        filterOptions="#{historyRequestManager.entityTypeValues}"
        rendered="#{showType}">
        <f:facet name="header">
          <h:outputText value="Entity Type" title="Entity Type." />
        </f:facet>
        <h:outputText value="#{history.entityType}" />
      </p:column>

      <p:column id="operationColumn" sortBy="#{history.operation}"
        style="width:10%; min-width:60px"
        filterStyle="width:10%; min-width:60px"
        filterBy="#{history.operation}" filterMatchMode="exact"
        filterOptions="#{historyRequestManager.operationValues}">
        <f:facet name="header">
          <h:outputText value="Operation" title="Operation." />
        </f:facet>
        <h:outputText value="#{history.operation}" />
      </p:column>

      <p:column id="entityNameColumn" sortBy="#{history.entityName}"
        style="width:20%; min-width:100px"
        filterStyle="width:20%; min-width:100px"
        filterBy="#{history.entityName}" filterMatchMode="contains">
        <f:facet name="header">
          <h:outputText value="Entity Name" title="Entity name." />
        </f:facet>
        <h:outputText value="#{history.entityName}" />
      </p:column>

      <p:column id="entityIdColumn" sortBy="#{history.entityId}"
        style="width:10%; min-width:60px"
        filterStyle="width:10%; min-width:60px"
        filterBy="#{history.entityId}" filterMatchMode="contains">
        <f:facet name="header">
          <h:outputText value="Entity ID" title="Entity ID." />
        </f:facet>
        <h:outputText value="#{history.entityId}" />
      </p:column>

      <p:column id="entryColumn" sortBy="#{history.entry}"
        style="width:25%; min-width:150"
        filterStyle="width:25%; min-width:150px"
        filterBy="#{history.entry}" filterMatchMode="contains">
        <f:facet name="header">
          <h:outputText value="Change" title="Change description." />
        </f:facet>
        <p:commandLink update=":#{popupName}Form"
          oncomplete="PF('#{popupName}').show('#{component.clientId}');"
          styleClass="ellipsis">
          <f:setPropertyActionListener value="Change"
            target="#{historyRequestManager.longTextOverlayHeader}" />
          <f:setPropertyActionListener value="#{history.entry}"
            target="#{historyRequestManager.longTextOverlayContent}" />
          <h:outputText value="#{history.entry}" />
        </p:commandLink>
      </p:column>

    </p:dataTable>
  </div>
</ui:composition>
