body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	overflow: hidden;
}

html {
	height: 100%;
}

table {
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body:after, .cf:after {
	content: '.';
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

body {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.fixed_width20 {
	min-width: 20px;
	max-width: 20px;
}

.fixed_width24 {
	min-width: 24px;
	max-width: 24px;
}

.fixed_width32 {
	min-width: 32px;
	max-width: 32px;
}

.fixed_width48 {
	min-width: 48px;
	max-width: 48px;
}

.fixed_width64 {
	min-width: 64px;
	max-width: 64px;
}

.fixed_width80 {
	min-width: 80px;
	max-width: 80px;
}

.fixed_width92 {
	min-width: 92px;
	max-width: 92px;
}

.fixed_width108 {
	min-width: 108px;
	max-width: 108px;
}

.fixed_width128 {
	min-width: 128px;
	max-width: 128px;
}

.fixed_width140 {
	min-width: 140px;
	max-width: 140px;
}

.fixed_width160 {
	min-width: 160px;
	max-width: 160px;
}

.fixed_width192 {
	min-width: 192px;
	max-width: 192px;
}

.fixed_width208 {
	min-width: 208px;
	max-width: 208px;
}

.fixed_width256 {
	min-width: 256px;
	max-width: 256px;
}

.fixed_width286 {
	min-width: 286px;
	max-width: 286px;
}

.fixed_width886 {
	min-width: 886px;
	max-width: 886px;
}

.borderless tr, .borderless td, .borderless .ui-panelgrid-cell {
	border: none;
}

.invalid {
	color: red;
}

.entity-deleted {
	text-decoration: line-through !important;
}

.invalid-property {
	text-decoration: line-through;
}

.ns-invalid-property {
	color: black;
	text-decoration: line-through underline;
}

.ns-exist {
	color: black;
	text-decoration: underline;
}

.ns-deleted {
	color: red;
	text-decoration: underline;
}

.ns-obsolete {
	color: blue;
	text-decoration: underline;
}

.nowrap {
	white-space: nowrap;
}

.calendarFilter input {
	width: 96px;
}

.ovelrayWithLinks .ui-widget-content a{
	color: blue;
	text-decoration: underline;
}