<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:o="http://omnifaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="770" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="1"
        style="width:100%; height: auto">
        <p:panelGrid id="r1" styleClass="borderless" columns="2"
          style="margin-bottom: 1ex; width:100%"
          columnClasses="one-third top-alignment, two-thirds top-alignment">
          <p:outputLabel for="cableSystem" value="Sy:" />
          <h:panelGroup>
            <p:selectOneMenu id="cableSystem"
              value="#{cableRequestManager.selectedCable.system}"
              style="width: calc(100% - 28px)" required="true"
              requiredMessage="System number is required">
              <f:selectItems value="#{cableRequestManager.systems}"
                var="system"
                itemLabel="#{cableRequestManager.retrieveSystemLabel(system)}"
                itemValue="#{system}" />
              <p:ajax event="change" update="cableSubsystem" />
            </p:selectOneMenu>
            <p:message for="cableSystem" />
          </h:panelGroup>

          <p:outputLabel for="cableSubsystem" value="Su:" />
          <h:panelGroup>
            <p:selectOneMenu id="cableSubsystem"
              value="#{cableRequestManager.selectedCable.subsystem}"
              style="width: calc(100% - 28px)" required="true"
              requiredMessage="Subsystem number is required"
              disabled="#{!cableRequestManager.isSystemSelected}">
              <f:selectItems value="#{cableRequestManager.subsystems}"
                var="subsystem"
                itemLabel="#{cableRequestManager.retrieveSubsystemLabel(subsystem)}"
                itemValue="#{subsystem}" />
            </p:selectOneMenu>
            <p:message for="cableSubsystem" />
          </h:panelGroup>

          <p:outputLabel for="cableClass" value="Cl:" />
          <h:panelGroup>
            <p:selectOneMenu id="cableClass"
              value="#{cableRequestManager.selectedCable.cableClass}"
              style="width: calc(100% - 28px)" required="true"
              requiredMessage="Cable class is required">
              <f:selectItems value="#{cableRequestManager.cableClasses}"
                var="cableClass"
                itemLabel="#{cableRequestManager.retrieveCableClassLabel(cableClass)}"
                itemValue="#{cableClass}" />
            </p:selectOneMenu>
            <p:message for="cableClass" />
          </h:panelGroup>

          <p:outputLabel for="cableName" value="Name:"
            rendered="#{!cableRequestManager.isAddPopupOpened}" />
          <p:inputText id="cableName"
            value="#{cableRequestManager.selectedCable.name}"
            rendered="#{!cableRequestManager.isAddPopupOpened}"
            readonly="true" style="width:100%" />

          <p:outputLabel for="cableType" value="Type:" />
          <p:autoComplete id="cableType"
            value="#{cableRequestManager.selectedCableCableType}"
            style="width: 100%" dropdown="true"
            completeMethod="#{cableRequestManager.completeCableType}"
            maxResults="10">
          </p:autoComplete>

          <p:outputLabel for="container" value="Container (bundle):" />
          <p:autoComplete id="container"
            value="#{cableRequestManager.selectedCable.container}"
            style="width: 100%" dropdown="true"
            completeMethod="#{cableRequestManager.completeContainer}"
            maxResults="10">
          </p:autoComplete>

          <p:outputLabel for="cableDeviceA" value="From Device A:" />
          <p:autoComplete id="cableDeviceA" maxResults="10"
            dropdown="true"
            value="#{cableRequestManager.selectedCable.endpointDeviceNameA}"
            completeMethod="#{cableRequestManager.completeDeviceNames}"
            requiredMessage="Endpoint device A is required"
            required="true" maxlength="255" style="width:100%"
            forceSelection="true" />

          <p:outputLabel for="cableBuildingA"
            value="Location Device A (building):" />
          <p:inputText id="cableBuildingA"
            value="#{cableRequestManager.selectedCable.endpointBuildingA}"
            maxlength="255" style="width:100%" />

          <p:outputLabel for="cableRackA"
            value="Location Device A (rack):" />
          <p:inputText id="cableRackA"
            value="#{cableRequestManager.selectedCable.endpointRackA}"
            maxlength="255" style="width:100%" />

          <p:outputLabel for="cableConnectorA" value="Connector A:" />
          <p:autoComplete id="cableConnectorA"
            value="#{cableRequestManager.selectedCableConnectorA}"
            style="width: 100%" dropdown="true"
            completeMethod="#{cableRequestManager.completeConnectors}"
            maxResults="10" forceSelection="true">
          </p:autoComplete>

          <p:outputLabel for="cableWiringA"
            value="Connector A (wiring):" />
          <h:panelGroup>
            <p:inputText id="cableWiringA"
              value="#{cableRequestManager.selectedCable.endpointDrawingA}"
              maxlength="255"
              validator="#{cableRequestManager.isURLEntered}"
              validatorMessage="Entered value is not valid url"
              style="width:100%" />
            <p:message for="cableWiringA" />
          </h:panelGroup>

          <p:outputLabel for="cableUserLabelTextA" value="User Label A:" />
          <p:inputText id="cableUserLabelTextA"
            value="#{cableRequestManager.selectedCable.endpointLabelA}"
            maxlength="45" style="width:100%" />

          <p:outputLabel for="cableDeviceB" value="To Device B:" />
          <p:autoComplete id="cableDeviceB" maxResults="10"
            dropdown="true"
            value="#{cableRequestManager.selectedCable.endpointDeviceNameB}"
            completeMethod="#{cableRequestManager.completeDeviceNames}"
            requiredMessage="Endpoint device B is required"
            required="true" maxlength="255" style="width:100%"
            forceSelection="true" />

          <p:outputLabel for="cableBuildingB"
            value="Location Device B (building):" />
          <p:inputText id="cableBuildingB"
            value="#{cableRequestManager.selectedCable.endpointBuildingB}"
            maxlength="255" style="width:100%" />

          <p:outputLabel for="cableRackB"
            value="Location Device B (rack):" />
          <p:inputText id="cableRackB"
            value="#{cableRequestManager.selectedCable.endpointRackB}"
            maxlength="255" style="width:100%" />

          <p:outputLabel for="cableConnectorB" value="Connector B:" />
          <p:autoComplete id="cableConnectorB"
            value="#{cableRequestManager.selectedCableConnectorB}"
            style="width: 100%" dropdown="true"
            completeMethod="#{cableRequestManager.completeConnectors}"
            maxResults="10" forceSelection="true">
          </p:autoComplete>

          <p:outputLabel for="cableWiringB"
            value="Connector B (wiring):" />
          <h:panelGroup>
            <p:inputText id="cableWiringB"
              value="#{cableRequestManager.selectedCable.endpointDrawingB}"
              maxlength="255"
              validator="#{cableRequestManager.isURLEntered}"
              validatorMessage="Entered value is not valid url"
              style="width:100%" />
            <p:message for="cableWiringB" />
          </h:panelGroup>

          <p:outputLabel for="cableUserLabelTextB" value="User Label B:" />
          <p:inputText id="cableUserLabelTextB"
            value="#{cableRequestManager.selectedCable.endpointLabelB}"
            maxlength="45" style="width:100%" />

        </p:panelGrid>
        <p:panelGrid id="r2" styleClass="borderless"
          columns="#{cableRequestManager.routingRowTableMaximized ? 1 : 2}"
          style="margin-bottom: 1ex; width:100%"
          columnClasses="one-third top-alignment, two-thirds top-alignment">
          <p:outputLabel for="#{widgetName}cableRoutingTable" value="Cable Routing:" />
          <p:fieldset>
            <p:dataTable id="#{widgetName}cableRoutingTable" var="cr"
              value="#{cableRequestManager.selectedCable.routingRows}"
              rowKey="#{cr.position}"
              widgetVar="#{widgetName}cableRoutingTable"
              scrollable="true"
              scrollHeight="#{cableRequestManager.routingRowTableMaximized ? 900 : 100}"
              scrollRows="5" editable="true" editMode="cell"
              sortBy="#{cr.position}" sortOrder="ascending"
              emptyMessage="No records found."
              selection="#{cableRequestManager.selectedRoutingRow}"
              selectionMode="single">

              <p:ajax event="rowSelect" process="@this"
                update=":#{formId}:buttons  :#{formId}:calculate" />
              <p:ajax event="rowUnselect" process="@this"
                update=":#{formId}:buttons :#{formId}:calculate" />
              <p:ajax event="cellEdit"
                listener="#{cableRequestManager.calculateLength}"
                update=":#{formId}:cableLength :#{formId}:calculate" />

              <p:column id="rowName" styleClass="fixed_width140">
                <f:facet name="header">
                  <h:outputText value="Name"
                    title="Name of the routing." />
                </f:facet>
                <p:cellEditor>
                  <f:facet name="output">
                    <h:outputText value="#{cr.routing.name}" />
                  </f:facet>
                  <f:facet name="input">
                    <p:autoComplete
                      value="#{cr.routing}"
                      completeMethod="#{cableRequestManager.completeRouting}"
                      var="routing" itemLabel="#{routing.name}" itemValue="#{routing}"
                      style="width:100%" dropdown="true"
                      forceSelection="true" maxResults="10"
                      disabled="#{!cableRequestManager.isAdmin}">
                      <o:converter converterId="omnifaces.ListConverter" list="#{cableRequestManager.avaliableRoutings}" />
                    </p:autoComplete>
                  </f:facet>
                </p:cellEditor>
              </p:column>
              <p:column id="routingLocation" styleClass="fixed_width140">
                <f:facet name="header">
                  <h:outputText value="Location"
                    title="Location of the routing." />
                </f:facet>
                <h:outputText value="#{cr.routing.location}" />
              </p:column>
              <p:column id="routingLength" styleClass="fixed_width80">
                <f:facet name="header">
                  <h:outputText value="Length"
                    title="Length of the routing." />
                </f:facet>
                <h:outputText value="#{cr.routing.length}" />
              </p:column>
            </p:dataTable>
            <p:panel id="buttons" styleClass="buttonRowCondensed">
              <p:commandButton id="addRoutingRowButton" value="Add"
                title="Add Routing."
                icon="ui-icon-plus" process="@this"
                disabled="#{!cableRequestManager.isAdmin}"
                action="#{cableRequestManager.addRoutingRow}"
                update=":#{formId}:buttons :#{formId}:#{widgetName}cableRoutingTable :#{formId}:cableLength :#{formId}:calculate" />
              <p:commandButton id="deleteRoutingRowButton" value="Delete"
                title="Delete selected Routing."
                action="#{cableRequestManager.removeSelectedRoutingRow}"
                icon="ui-icon-trash" process="@this"
                disabled="#{cableRequestManager.selectedRoutingRow == null or  !cableRequestManager.isAdmin}"
                update=":#{formId}:buttons :#{formId}:#{widgetName}cableRoutingTable :#{formId}:cableLength :#{formId}:calculate" />
              <p:commandButton id="moveRoutingRowUpButton" value="Up"
                title="Move selected Routing row up."
                icon="ui-icon-arrowthick-1-n" process="@this"
                disabled="#{cableRequestManager.selectedRoutingRow == null or !cableRequestManager.isAdmin}"
                update=":#{formId}:buttons :#{formId}:#{widgetName}cableRoutingTable :#{formId}:cableLength :#{formId}:calculate"
                action="#{cableRequestManager.moveRoutingRowUp()}" />
              <p:commandButton id="moveRoutingRowDownButton" value="Down"
                title="Move selected Routing row down."
                icon="ui-icon-arrowthick-1-s"
                process="@this"
                disabled="#{cableRequestManager.selectedRoutingRow == null  or !cableRequestManager.isAdmin}"
                update=":#{formId}:buttons :#{formId}:#{widgetName}cableRoutingTable :#{formId}:cableLength :#{formId}:calculate"
                action="#{cableRequestManager.moveRoutingRowDown()}" />
              <p:commandButton id="maximizeRoutingRowsButton"
                value="#{cableRequestManager.routingRowTableMaximized ? 'Minimize' : 'Maximize'}"
                title="Maximize/Minimize routing rows table."
                icon="#{cableRequestManager.routingRowTableMaximized ? 'ui-icon-newwin' : 'ui-icon-extlink'}"
                onclick="toggleMaximizeRouting(#{cableRequestManager.routingRowTableMaximized}, '#{formId}')"
                update="@this :#{formId}:#{widgetName}cableRoutingTable :#{formId}:buttons" process="@this"
                action="#{cableRequestManager.swapRoutingRowTableMaximized()}" />
             </p:panel>
          </p:fieldset>

        </p:panelGrid>
        <p:panelGrid id="r3" styleClass="borderless" columns="2"
          style="margin-bottom: 1ex; width:100%"
          columnClasses="one-third top-alignment, two-thirds top-alignment">
          <p:outputLabel for="cableOwners" value="Owners:" />
          <p:autoComplete id="cableOwners"
            value="#{cableRequestManager.selectedCableOwners}"
            multiple="true" style="width: 100%"
            completeMethod="#{cableRequestManager.completeUsers}"
            maxResults="10" forceSelection="true" required="true"
            requiredMessage="At least one owner is required">
            <p:ajax event="itemSelect" />
            <p:ajax event="itemUnselect" />
          </p:autoComplete>

          <p:outputLabel for="cableStatus" value="Status:" />
          <p:selectOneMenu id="cableStatus"
            value="#{cableRequestManager.selectedCable.status}"
            style="width: calc(100% - 28px)" required="true"
            requiredMessage="Status is required">
            <f:selectItems
              value="#{cableRequestManager.possibleCableStatus}"
              var="status" itemLabel="#{status.displayName}"
              itemValue="#{status}" />
          </p:selectOneMenu>

          <p:outputLabel for="cableInstallBy" value="Installation Date:" />
          <p:calendar id="cableInstallBy"
            value="#{cableRequestManager.selectedCable.installationByDate}"
            styleClass="calendarInput" pattern="yyyy-MM-dd" />

          <p:outputLabel for="cableTermBy" value="Termination Date:" />
          <p:calendar id="cableTermBy"
            value="#{cableRequestManager.selectedCable.terminationByDate}"
            styleClass="calendarInput" pattern="yyyy-MM-dd" />

          <p:outputLabel for="cableQualityReport"
            value="Quality Report:" />
          <p:panelGrid id="uploader" styleClass="borderless" columns="2"
            columnClasses="uploaderColumn1, uploaderColumn2">
            <p:inputText id="cableQualityReport"
              value="#{cableRequestManager.selectedCable.qualityReport.newName}"
              maxlength="255" style="width:100%" readonly="true" />
            <p:fileUpload
              fileUploadListener="#{cableRequestManager.selectedCable.qualityReport.handleImportFileUpload}"
              mode="advanced" update="uploader cableQualityReport"
              auto="true" fileLimit="1" dragDropSupport="false" />
          </p:panelGrid>

          <p:outputLabel for="baseCableLength" value="Base Length (m):" />
          <p:inputText id="baseCableLength"
            value="#{cableRequestManager.selectedCable.baseLength}"
            style="width:100%" maxlength="200"
            validator="#{cableRequestManager.isFloatEntered}"
            disabled="#{!cableRequestManager.selectedCable.autoCalculatedLengthBoolean}">
            <p:ajax event="keyup"
              listener="#{cableRequestManager.calculateLength}"
              update=":#{formId}:cableLength :#{formId}:calculate" />
          </p:inputText>

          <p:outputLabel for="cableLength" value="Length (m):" />
          <p:panelGrid id="length" styleClass="borderless" columns="3"
            columnClasses="lengthColumn1, lengthColumn2, lengthColumn3">
            <p:inputText id="cableLength"
              value="#{cableRequestManager.selectedCable.length}"
              style="width:100%" maxlength="200"
              validator="#{cableRequestManager.isFloatEntered}"
              disabled="#{cableRequestManager.selectedCable.autoCalculatedLengthBoolean}" />
            <p:selectBooleanCheckbox id="calculate"
              value="#{cableRequestManager.selectedCable.autoCalculatedLengthBoolean}">
              <p:ajax
                listener="#{cableRequestManager.autocalculateChanged}"
                update=":#{formId}:baseCableLength :#{formId}:cableLength" />
            </p:selectBooleanCheckbox>
            <h:outputText value="Autocalculated" />
            <p:message for="cableLength" />
          </p:panelGrid>
        </p:panelGrid>
      </p:panelGrid>

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Save cable."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); updateCableTable(); }"
          action="#{cableRequestManager[submitHandler]}"
          update=":cableTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
          actionListener="#{cableRequestManager.clearSelection()}"
          update="grp :cableTableForm:buttons" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
