<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="570" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="2"
        style="margin-bottom: 1ex; width:550px"
        columnClasses="one-third top-alignment, two-thirds top-alignment">

        <p:outputLabel for="name" value="Name:" />
        <h:panelGroup>
          <p:inputText id="name"
            value="#{connectorRequestManager.selectedConnector.name}"
            maxlength="255" style="width:100%" required="true"
            requiredMessage="Connector name is required"
            validator="#{connectorRequestManager.isConnectorNameValid}"
            validatorMessage="Entered value is not unique" />
          <p:message for="name" />
        </h:panelGroup>

        <p:outputLabel for="description" value="Description:" />
        <p:inputText id="description"
          value="#{connectorRequestManager.selectedConnector.description}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="type" value="Type:" />
        <p:inputText id="type"
          value="#{connectorRequestManager.selectedConnector.type}"
          maxlength="255" style="width:100%" />

      </p:panelGrid>

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Save connector."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); updateConnectorTable(); }"
          action="#{connectorRequestManager[submitHandler]}"
          update=":connectorTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
          actionListener="#{connectorRequestManager.clearSelection()}"
          update="grp :connectorTableForm:buttons" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
