<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="displayLongManufacturersForm">
    <p:overlayPanel id="displayLongManufacturersPanel"
      widgetVar="displayLongManufacturersPanel" dismissable="false"
      showCloseIcon="true" style="max-width: 512px; max-height:512px;" styleClass="ovelrayWithLinks">
      <p:outputPanel>
        <p:panel styleClass="overlayPanel">
          <f:facet name="header">
            <h:outputText value="Cable Type Manufacturers" />
          </f:facet>
        </p:panel>
        <p:panel id="displayLongManufacturersContentPanel"
          style="overflow: auto">
          <ui:repeat value="#{cableType.manufacturers}" var="m"
            varStatus="status">
            <h:outputLink
              value="#{cableType.getManufacturerUrl(m.manufacturer)}"
              styleClass="#{m.manufacturer.status != ManufacturerStatus.DELETED ? '' : 'entity-deleted'}">
              <h:outputText value="#{m.manufacturer.name}" />
            </h:outputLink>
            #{m.datasheet.name != null ? " (" : ""}<p:commandLink ajax="false" title="Download"
              style="margin:0;"
              rendered="#{m.datasheet.name != null}"
              styleClass="#{m.manufacturer.status != ManufacturerStatus.DELETED ? '' : 'entity-deleted'}">
              <h:outputText value="#{m.datasheet.name}" />
              <p:fileDownload value="#{m.datasheet.downloadFile}" />
            </p:commandLink>#{m.datasheet.name != null ? ")" : ""}#{status.last ? '' : ','}
          </ui:repeat>
        </p:panel>
      </p:outputPanel>
    </p:overlayPanel>
  </h:form>

</ui:composition>