<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formId}Form">
    <p:overlayPanel id="#{formId}"
      widgetVar="#{formId}" dismissable="false"
      showCloseIcon="true" style="max-width: 512px; max-height:512px;">
      <p:outputPanel>
        <p:panel styleClass="overlayPanel">
          <f:facet name="header">
            <h:outputText value="#{title}" />
          </f:facet>
        </p:panel>
        <p:panel id="#{formId}Content" style="overflow: auto">
          <h:outputText value="#{outputText}" escape="false"
            style="font-family: monospace; white-space: pre;" />
        </p:panel>
      </p:outputPanel>
    </p:overlayPanel>
  </h:form>

</ui:composition>
