<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="errorDialogForm">
    <p:dialog widgetVar="errorDialog" id="errorDialog" modal="true"
      resizable="false" closable="true" width="450" height="100"
      dynamic="true">
      <f:facet name="header">
        <h:outputText value="Error" />
      </f:facet>
      <p:outputPanel style="display: block; margin-bottom: 1.2em;">
                Please try again. If the problem persist, please 
                <a style="color: #A8A8A8;"
          href="mailto:#{msgs.supportEmail}?subject=#{msgs.supportEmailSubject}">contact
          us</a> 
                for support.
            </p:outputPanel>

      <h:panelGroup>
        <p:commandButton value="Close" title="Close error dialog."
          style="float:right" onclick="PF('errorDialog').hide();"
          icon="ui-icon-close" />
      </h:panelGroup>
    </p:dialog>
  </h:form>
</ui:composition>