<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="580" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>

      <p:dataTable id="queriesTable" var="q"
        value="#{queryRequestManager.queries}" rowKey="#{q.id}"
        widgetVar="queriesTable"
        filteredValue="#{queryRequestManager.filteredQueries}"
        class="dialogListTable" emptyMessage="No records found."
        scrollable="true" scrollHeight="400" style="margin-bottom: 1em;"
        scrollRows="35" selection="#{controller[selectionHandler]}"
        selectionMode="single">

        <p:column id="queryColumn" sortBy="#{q.description}"
          styleClass="fixed_width140" filterStyle="width: 140px"
          filterBy="#{q.description}" filterMatchMode="contains">
          <f:facet name="header">
            <h:outputText value="Query" title="Query." />
          </f:facet>
          <h:outputText value="#{q.description}" />
        </p:column>

      </p:dataTable>
      <p:commandButton value="Close"
        title="Close execute queries dialog." style="float:right"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-close" />
      <p:commandButton value="Execute" title="Execute query"
        actionListener="#{controller[submitHandler]}"
        style="float:right"
        action="#{queryRequestManager.onQueryExecute}" onstart="start()"
        oncomplete="stop(); #{onCompleteUpdate} PF('queryExecutedDialog').show();"
        update="#{componentsToUpdate} :queryExecutedDialogForm"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-play" />
    </p:dialog>
  </h:form>
</ui:composition>