<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="580" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>

      <p:dataTable id="displayViewsTable" var="q"
        value="#{displayViewRequestManager.displayViews}"
        rowKey="#{q.description}" widgetVar="displayViewsTable"
        filteredValue="#{displayViewRequestManager.filteredDisplayViews}"
        class="dialogListTable" emptyMessage="No records found."
        scrollable="true" scrollHeight="400" style="margin-bottom: 1em;"
        scrollRows="35" selection="#{controller[selectionHandler]}"
        selectionMode="single">

        <p:column id="displayViewColumn" sortBy="#{q.description}"
          styleClass="fixed_width140" filterStyle="width: 140px"
          filterBy="#{q.description}" filterMatchMode="contains">
          <f:facet name="header">
            <h:outputText value="DisplayView" title="DisplayView." />
          </f:facet>
          <h:outputText value="#{q.description}" />
        </p:column>

      </p:dataTable>
      <p:commandButton value="Close"
        title="Close execute display views dialog." style="float:right"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-close" />
      <p:commandButton value="Execute" title="Execute Display View."
        actionListener="#{controller[submitHandler]}"
        style="float:right"
        action="#{displayViewRequestManager.onDisplayViewExecute}"
        onstart="start()" oncomplete="stop(); #{onCompleteUpdate}"
        update="#{componentsToUpdate}"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-play" />
    </p:dialog>
  </h:form>
</ui:composition>
