<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog id="#{widgetName}" widgetVar="#{widgetName}" modal="true"
      resizable="false" width="1330" height="750" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{title}" />
      </f:facet>

      <p:panelGrid style="width: 100%;" styleClass="noBorders">
        <p:row>
          <p:column>
            <ui:include src="/WEB-INF/historyDataTable.xhtml">
              <ui:param name="popupName" value="displayLongHistoryPanel" />
            </ui:include>
          </p:column>
        </p:row>
        <p:row>
          <p:column>
            <p:commandButton
              style="position:absolute; bottom:5px; right:12px;"
              value="Close" title="Close history dialog." type="button"
              styleClass="dialogButton"
              onclick="PF('#{widgetName}').hide();"
              action="#{controller.clearHistory()}" icon="ui-icon-close" />
          </p:column>
        </p:row>
      </p:panelGrid>
    </p:dialog>
  </h:form>

  <ui:include src="/resources/dialogs/display-long-text.xhtml">
    <ui:param name="formId" value="displayLongHistoryPanel" />
    <ui:param name="title"
      value="#{historyRequestManager.longTextOverlayHeader}" />
    <ui:param name="outputText"
      value="#{historyRequestManager.longTextOverlayContent}" />
  </ui:include>

</ui:composition>