

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="queryExecutedDialogForm">
    <p:dialog header="Info" widgetVar="queryExecutedDialog" modal="true"
      width="505" dynamic="true">
      <f:facet name="header">
        <h:outputText value="Query Executed" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="1">
        <h:outputText
          value="Query returned #{controller[fillteredHandler]} records." />
      </p:panelGrid>
      <p:commandButton value="Close" title="Close"
        styleClass="dialogButton"
        onclick="PF('queryExecutedDialog').hide();" icon="ui-icon-close" />
    </p:dialog>
  </h:form>
</ui:composition>