<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="requestNewCableTypeForm">
    <p:dialog widgetVar="requestNewCableTypeDialog"
      id="requestNewCableTypeDialog" modal="true" resizable="false"
      closable="false" width="570" dynamic="true">
      <f:facet name="header">
        <h:outputText value="Request New Cable Type" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="2"
        style="margin-bottom: 1ex; width:550px"
        columnClasses="one-third top-alignment, two-thirds top-alignment">

        <p:outputLabel for="numberOfConductors"
          value="Number of Conductors:" />
        <h:panelGroup>
          <p:inputText id="numberOfConductors"
            value="#{cableTypeRequestManager.numberOfConductors}"
            validator="#{cableTypeRequestManager.isIntegerEntered}"
            validatorMessage="Entered value is not valid integer"
            maxlength="255" style="width:100%" />
          <p:message for="numberOfConductors" />
        </h:panelGroup>

        <p:outputLabel for="crossSectionOfConductors"
          value="Cross-section of Conductors (mm2):" />
        <h:panelGroup>
          <p:inputText id="crossSectionOfConductors"
            value="#{cableTypeRequestManager.crossSectionOfConductors}"
            validator="#{cableTypeRequestManager.isFloatEntered}"
            validatorMessage="Entered value is not valid"
            maxlength="255" style="width:100%" />
          <p:message for="crossSectionOfConductors" />
        </h:panelGroup>

        <p:outputLabel for="voltageRating" value="Voltage Rating (V):" />
        <h:panelGroup>
          <p:inputText id="voltageRating"
            value="#{cableTypeRequestManager.voltageRating}"
            validator="#{cableTypeRequestManager.isIntegerEntered}"
            maxlength="255" style="width:100%" />
          <p:message for="voltageRating" />
        </h:panelGroup>

        <p:outputLabel for="jacket" value="Jacket:" />
        <p:inputText id="jacket"
          value="#{cableTypeRequestManager.jacket}" maxlength="255"
          style="width:100%" />

        <p:outputLabel for="insulation" value="Insulation:" />
        <p:inputText id="insulation"
          value="#{cableTypeRequestManager.insulation}" maxlength="255"
          style="width:100%" />

        <p:outputLabel for="additionalInformation"
          value="Additional Information:" />
        <p:inputTextarea id="additionalInformation" autoResize="false"
          scrollHeight="5" rows="5" maxlength="255"
          style="width:100%; resize: none;"
          value="#{cableTypeRequestManager.additionalInformation}" />

        <p:outputLabel for="uploadFile" value="Upload File:" />
        <p:panelGrid id="uploader" styleClass="borderless" columns="2"
          columnClasses="uploaderColumn1,uploaderColumn2">
          <p:inputText id="uploadFile"
            value="#{cableTypeRequestManager.fileToBeSendName}"
            maxlength="255" style="width:100%" readonly="true" />
          <p:fileUpload
            fileUploadListener="#{cableTypeRequestManager.fileToBeSendUpload}"
            mode="advanced" update="uploader" auto="true" fileLimit="1"
            dragDropSupport="false"
            allowTypes="/(\.|\/)(jpg|jpeg|png|gif|txt|doc|docx|pdf|xlsx|xls)$/" />
        </p:panelGrid>
      </p:panelGrid>

      <p:commandButton value="Cancel" title="Cancel request."
        styleClass="dialogButton"
        oncomplete="PF('requestNewCableTypeDialog').hide();"
        update="grp"
        action="#{cableTypeRequestManager.resetFileToBeSendParameters}"
        resetValues="true" icon="ui-icon-close" />

      <p:commandButton value="Send" title="Send request."
        styleClass="dialogButton" onclick="start()"
        oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('requestNewCableTypeDialog').hide(); }"
        action="#{cableTypeRequestManager.sendCableTypeRequest}"
        update="grp" icon="ui-icon-seek-next" />

    </p:dialog>
  </h:form>
</ui:composition>