<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="570" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="2"
        style="margin-bottom: 1ex; width:550px"
        columnClasses="one-third top-alignment, two-thirds top-alignment">

        <p:outputLabel for="name" value="Name:" />
        <h:panelGroup>
          <p:inputText id="name"
            value="#{routingRequestManager.selectedRouting.name}"
            maxlength="255" style="width:100%" required="true"
            requiredMessage="Routing name is required"
            validator="#{routingRequestManager.isRoutingNameValid}"
            validatorMessage="Entered value is not unique" />
          <p:message for="name" />
        </h:panelGroup>

        <p:outputLabel for="description" value="Description:" />
        <p:inputText id="description"
          value="#{routingRequestManager.selectedRouting.description}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="cableClasses" value="Classes:" />
        <h:panelGroup>
          <p:autoComplete id="cableClasses" multiple="true"
            value="#{routingRequestManager.selectedCableClasses}"
            completeMethod="#{routingRequestManager.completeCableClass}"
            var="cableClass" itemLabel="#{cableClass}"
            itemValue="#{cableClass}" forceSelection="true"
            required="true"
            requiredMessage="At least one cable class is required">
            <p:ajax event="itemSelect" />
            <p:ajax event="itemUnselect" />
            <p:column>
              <h:outputText
                value="#{routingRequestManager.retrieveCableClassLabel(cableClass)}" />
            </p:column>
          </p:autoComplete>
          <p:message for="cableClasses" />
        </h:panelGroup>

        <p:outputLabel for="location" value="Location:" />
        <p:inputText id="location"
          value="#{routingRequestManager.selectedRouting.location}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="length" value="Length (m):" />
        <h:panelGroup>
          <p:inputText id="length"
            value="#{routingRequestManager.selectedRouting.length}"
            validator="#{routingRequestManager.isFloatEntered}"
            style="width:100%" required="true"
            requiredMessage="Routing length is required" />
          <p:message for="length" />
        </h:panelGroup>

      </p:panelGrid>

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Save routing."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); updateRoutingTable(); }"
          action="#{routingRequestManager[submitHandler]}"
          update=":routingTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
          actionListener="#{routingRequestManager.clearSelection()}"
          update="grp :routingTableForm:buttons" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
