<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">

            
            function updateConnectorTable() {
                PF('connectorTable').filter();
            }            
        </script>
    <style>
</style>
  </ui:define>

  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="exportDialog" header="Export Connectors" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{connectorRequestManager.connectorsToExport.size()}" />
                <h:outputText
                  value="#{connectorRequestManager.selectedConnectors.isEmpty() ? '' : ' selected'}" />
                connector
                <h:outputText
                  value="#{connectorRequestManager.connectorsToExport.size() == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export connectors."
              style="float: left" ajax="false" update=":connectorTableForm:buttons"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{connectorRequestManager.simpleTableExporter.exportedTable}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                update=":dialogs :connectorTableForm:buttons" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id="connectorTableForm">
        <div style="width: calc(100% - 1em)">
          <p:dataTable id="connectorTable" var="connector"
            value="#{connectorRequestManager.connectors}"
            rowKey="#{connector.id}" widgetVar="connectorTable"
            filteredValue="#{connectorRequestManager.filteredConnectors}"
            emptyMessage="No records found." scrollable="true"
            liveScroll="#{!connectorRequestManager.connectorRequested}"
            scrollRows="150"
            selection="#{connectorRequestManager.selectedConnectors}"
            selectionMode="multiple">

            <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
            <p:ajax event="filter" process="@this"
              listener="#{connectorRequestManager.clearSelectedConnectors()}" />
            <p:ajax event="rowSelect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update=":connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
            <p:ajax event="rowUnselect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update=":connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
            <p:ajax event="toggleSelect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update=":connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
            <p:ajax event="rowSelectCheckbox" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update=":connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
            <p:ajax event="rowUnselectCheckbox" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update=":connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
            <p:ajax event="filter"
              update=":connectorTableForm:exportButton" />

            <p:columns value="#{connectorRequestManager.columns}"
              var="column" columnIndexVar="colIndex"
              sortBy="#{connector[column.value]}"
              filterBy="#{connector[column.value]}"
              styleClass="#{column.styleClass}" style="#{column.style}"
              filterStyle="#{column.filterStyle}"
              filterMatchMode="#{column.filterMode}" scrollable="true"
              liveScroll="true" scrollWidth="100%" scrollHeight="100%">
              <f:facet name="header">
                <h:outputText value="#{column.columnLabel}" />
              </f:facet>
              <h:outputText rendered="#{column.columnStyle.plainText}"
                styleClass="#{not connector.active ? 'entity-deleted' : ''}"
                value="#{connector[column.value]}" />
              <p:commandLink update=":displayLongTextPanelForm"
                oncomplete="PF('displayLongTextPanel').show('#{component.clientId}');"
                styleClass="#{not connector.active ? 'entity-deleted ellipsis' : 'ellipsis'}"
                rendered="#{column.columnStyle.ellipsis}">
                <f:setPropertyActionListener
                  value="#{column.columnLabel}"
                  target="#{connectorRequestManager.longTextOverlayHeader}" />
                <f:setPropertyActionListener
                  value="#{connector[column.value]}"
                  target="#{connectorRequestManager.longTextOverlayContent}" />
                <h:outputText value="#{connector[column.value]}" />
              </p:commandLink>
            </p:columns>

            <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;">
              <f:facet name="header">
                <h:outputText value="History" title="Connector history." />
              </f:facet>
              <p:commandLink value="Show" onstart="start()"
                action="#{historyRequestManager.prepareConnectorHistory(connector.id)}"
                oncomplete="PF('historyDialog').show(); stop();"
                update=":historyForm" />
            </p:column>

          </p:dataTable>

          <!--Dummy command intercepts enter key press in table and discards it-->
          <p:defaultCommand target="dummy" />
          <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

        </div>
        <p:panel id="buttons" styleClass="buttonRow">
          <p:commandButton styleClass="buttonSpaced"
            value="Add" title="Add new connector." icon="ui-icon-plus"
            rendered="#{connectorRequestManager.editConnector}"
            actionListener="#{connectorRequestManager.prepareAddPopup()}"
            onstart="start()" id="addConnectorButton" onclick="disableButtons('connectorTableForm','buttons');"  class = "button" 
            oncomplete="stop(); PF('addConnectorDialog').show();"
            update=":addConnectorForm" />
          <p:commandButton styleClass="buttonSpaced"
            id="editConnectorButton" ajax="true" value="Edit"
            icon="ui-icon-pencil"
            rendered="#{connectorRequestManager.editConnector}"
            title="Edit selected connector." onclick="disableButtons('connectorTableForm','buttons');"  class = "button" 
            action="#{connectorRequestManager.prepareEditPopup()}"
            update=":editConnectorForm" onstart="start()"
            oncomplete="stop(); PF('editConnectorDialog').show();"
            disabled="#{!connectorRequestManager.editButtonEnabled}" />
          <p:commandButton styleClass="buttonSpaced"
            id="deleteConnectorButton" ajax="true" value="Delete"
            icon="ui-icon-trash"
            rendered="#{connectorRequestManager.editConnector}"
            title="Delete selected connectors." onclick="disableButtons('connectorTableForm','buttons');"  class = "button" 
            actionListener="#{connectorRequestManager.checkConnectorsForDeletion()}"
            oncomplete="PF('deleteConnectorsDialog').show();"
            update=":deleteConnectorsForm:deleteConnectorsDialog"
            disabled="#{!connectorRequestManager.deleteButtonEnabled}" />
          <p:commandButton styleClass="buttonSpaced"
            id="exportButton" value="Export" onclick="disableButtons('connectorTableForm','buttons');"  class = "button" 
            title="Export connectors into EXCEL template file."
            icon="ui-icon-disk" update=":dialogs"
            oncomplete="PF('exportDialog').show();"
            disabled="#{connectorRequestManager.filteredConnectors.size() == 0}" />
        </p:panel>
      </h:form>

      <h:form id="remoteCommandForm">
        <p:remoteCommand name="remoteCommandLoad"
          actionListener="#{connectorRequestManager.onLoad()}"
          process="@this" partialSubmit="true"
          onstart="start();"
          oncomplete="stop();" />
      </h:form>

      <ui:include src="/resources/dialogs/display-long-text.xhtml">
        <ui:param name="formId" value="displayLongTextPanel" />
        <ui:param name="title"
          value="#{connectorRequestManager.longTextOverlayHeader}" />
        <ui:param name="outputText"
          value="#{connectorRequestManager.longTextOverlayContent}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteConnectorsForm" />
        <ui:param name="dialogTitle" value="Delete Connectors" />
        <ui:param name="widgetName" value="deleteConnectorsDialog" />
        <ui:param name="controller" value="#{connectorRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{connectorRequestManager.deletedConnectors}" />
        <ui:param name="deleteList"
          value="#{connectorRequestManager.selectedConnectors}" />
        <ui:param name="submitHandler" value="onConnectorDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":connectorTableForm :cableDBGrowl :connectorTableForm:deleteConnectorButton :connectorTableForm:editConnectorButton" />
        <ui:param name="closeDialogActions"
          value="PF('connectorTable').clearFilters(); updateConnectorTable();" />
        <ui:param name="entityType" value="connectors" />
        <ui:param name="entityName" value="Connector" />
        <ui:param name="cause" value="already deleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/connector.xhtml">
        <ui:param name="formId" value="editConnectorForm" />
        <ui:param name="dialogTitle" value="Edit Connector" />
        <ui:param name="widgetName" value="editConnectorDialog" />
        <ui:param name="submitHandler" value="onConnectorEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/connector.xhtml">
        <ui:param name="formId" value="addConnectorForm" />
        <ui:param name="dialogTitle" value="Add Connector" />
        <ui:param name="widgetName" value="addConnectorDialog" />
        <ui:param name="submitHandler" value="onConnectorAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Connector History" />
        <ui:param name="entity" value="connector" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindConnectorForm" />
        <ui:param name="widgetName" value="cannotFindConnector" />
        <ui:param name="entityCamel" value="Connector" />
        <ui:param name="entity" value="connector" />
        <ui:param name="controller" value="#{connectorRequestManager}" />
        <ui:param name="submitHandler" value="requestedConnectorName" />
      </ui:include>

      <script type="text/javascript">
            $("[name='content']").ready(function() {
                var result = location.search.split('connectorName=')[1] ? location.search.split('connectorName=')[1] : 'Null';
                if (result != 'Null'){
//This commented out block filters the table by passed connectorName in url but is currentyl not used (left here in case we change our mind)
//                     //set filter of attribute Name to result
//                     var filter = $("#connectorTableForm\\:connectorTable_head").find(".ui-column-title:contains('Name')").parent().find(".ui-column-filter");
//                     filter.val(result);
//                     PF('connectorTable').filter();
                    remoteCommandLoad();
                }
                removeSessionIdAndParametersFromUrl();
            });
            </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
