<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">

    <h:form id="remoteCommandForm">
      <p:remoteCommand name="clearData"
        actionListener="#{historyRequestManager.clearHistory()}" />
    </h:form>

    <script type="text/javascript">
					clearData();
				</script>
  </ui:define>
  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">
      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="exportDialog" header="Export Log" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{historyRequestManager.simpleTableExporter.entriesToExportSize}" />
                log entr
                <h:outputText
                  value="#{historyRequestManager.simpleTableExporter.entriesToExportSize == 1 ? 'y' : 'ies'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export log"
              style="float: left" ajax="false"
              update=":logTableForm:buttons"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{historyRequestManager.simpleTableExporter.exportedTable}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                action="#{cableRequestManager.clearImportState()}"
                update=":dialogs :logTableForm:buttons" />
            </div>
          </h:form>
        </p:dialog>
      </p:outputPanel>

      <h:form id="logTableForm">

        <ui:include src="/WEB-INF/historyDataTable.xhtml">
          <ui:param name="formId" value="logForm" />
          <ui:param name="widgetName" value="logDialog" />
          <ui:param name="title" value="Log" />
          <ui:param name="controller" value="#{historyRequestManager}" />
          <ui:param name="entity" value="entity" />
          <ui:param name="showType" value="true" />
          <ui:param name="updateOnFilter"
            value=":logTableForm:exportLogButton" />
          <ui:param name="tableHeight" value="calc(100vh - 20em)" />
          <ui:param name="popupName" value="displayLongTextPanel" />
        </ui:include>
        <p:outputPanel id="buttons"
          style="margin: 10px 15px 0px 0px; text-align: right">
          <p:commandButton style="float: right; margin: 0 1ex 0 0;"
            id="exportLogButton" value="Export" onstart="start()"
            title="Export log" icon="ui-icon-disk" update=":dialogs"
            oncomplete="PF('exportDialog').show(); stop();"
            onclick="disableButtons('logTableForm','buttons');"  class = "button" 
            disabled="#{historyRequestManager.history.size() == 0}" />
        </p:outputPanel>
      </h:form>

      <ui:include src="/resources/dialogs/display-long-text.xhtml">
        <ui:param name="formId" value="displayLongTextPanel" />
        <ui:param name="title"
          value="#{historyRequestManager.longTextOverlayHeader}" />
        <ui:param name="outputText"
          value="#{historyRequestManager.longTextOverlayContent}" />
      </ui:include>

    </ui:fragment>
  </ui:define>
</ui:composition>
